<!-- including header -->
<%- include ('./partials/header.ejs') %>

    <!-- including navbar -->
    <%- include('./partials/navbar.ejs') %>


        <div class="container">
            <div class="row">
                <div class=" col-sm-6  mt-4">
                    <h3 class="text-center alert alert-success">Update</h3>
                    <form method="post" action="/village/update/<%=data._id %>">
                        <div class="mb-3">
                            <label for="village" class="form-label">Book</label>
                            <input type="text" class="form-control" id="village" name="village"
                                value="<%= data.village %>" />
                        </div>
                        <div class="mb-3">
                            <label for="district" class="form-label">Author</label>
                            <input type="text" class="form-control" id="district" name="district"
                                value="<%= data.district %>" />
                        </div>
                        <div class="mb-3">
                            <label for="post" class="form-label">Categroy</label>
                            <input type="text" class="form-control" id="post" name="post" value="<%= data.post %>" />
                        </div>
                        <div class="mb-3">
                            <label for="code" class="form-label">Availability</label>
                            <input type="text" class="form-control"  id="code" name="code"
                                value="<%= data.code %>" />
                        </div>
                        <button type="submit" class="btn btn-warning">Update</button>
                        <a href="/village"><button type="button" class="btn btn-dark">Back to home</button></a>
                    </form>
                </div>
            </div>
        </div>

        <!-- including footer -->
        <%- include ('./partials/footer.ejs') %>