<!-- including header -->
<%- include ('./partials/header.ejs') %>
    <!-- here we can put our other link element -->

    <!-- including navbar -->
    <%- include('./partials/navbar.ejs') %>

        <div class="container">
            <div class="row">
                <div class=" col-sm-5 mt-4">
                    <h3 class="text-center alert alert-success">Add new book</h3>
                    <form method="post">
                        <div class="mb-3">
                            <label for="village" class="form-label">Book</label>
                            <input type="text" class="form-control" autocomplete="off" id="village" name="village" />
                        </div>
                        <div class="mb-3">
                            <label for="district" class="form-label">Author</label>
                            <input type="text" class="form-control" autocomplete="off" id="district" name="district" />
                        </div>
                        <div class="mb-3">
                            <label for="post" class="form-label">Categroy</label>
                            <select class="form-select" id="post" name="post" required>
                                <option selected>Choose...</option>
                                <option value="Science">Science</option>
                                <option value="Navel">Navel</option>
                                <option value="Romantic">Romantic</option>
                                <option value="Blogs">blogs</option>
                                <option value="Thriler">Thriler</option>
                                <option value="Story">Story</option>
                                <option value="Biography">Biography</option>
                                <option value="History">History</option>
                                <option value="Mathmatics">Mathmatics</option>
                                <option value="Business">Business</option>
                                <option value="Poetry">Poetry</option>
                              </select>
                        </div>
                        <div class="mb-3">
                            <label for="code" class="form-label">Availability</label>
                            <select class="form-select" id="code" name="code" required>
                                <option selected>Choose...</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="Comming soon">Comming soon</option>
                              </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
                <div class=" col-sm-6 mt-4">
                    <h3 class="text-center alert alert-dark">List of books</h3>
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Book</th>
                                <th scope="col">Author</th>
                                <th scope="col">Categroy</th>
                                <th scope="col">Availability</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody >
                            <!-- here we nesting a loop for data insertion -->
                            <% var i=1 %>
                                <% data.forEach((item)=>{ %>
                                    <!-- item contain a array of obj-->
                                    <tr>
                                        <td scope="row">
                                            <%= i++ %>
                                        </td>
                                        <td style="color:brown ; font-weight:500;">
                                            <%=item.village %>
                                        </td>
                                        <td>
                                            <%=item.district %>
                                        </td>
                                        <td style="color:green">
                                            <%=item.post %>
                                        </td>
                                        <td>
                                            <%=item.code %>
                                        </td>
                                        <td>
                                            <form action="/village/edit/<%= item._id %>" method="get" class="d-inline">
                                                <button type="submit" class="btn">
                                                    <i class="fa-solid fa-square-pen text-warning"></i>
                                                </button>
                                            </form>
                                            <form action="/village/delete/<%=item.id %>" method="post" class="d-inline">
                                                <button type="submit" class="btn">
                                                    <i class="fa-solid fa-trash text-danger"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% }) %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- here we can put script link -->


        <!-- including footer -->
        <%- include ('./partials/footer.ejs') %>